body {
    margin: 0% 20% 0% 20%;
    padding: 20px 10px;
    background:#222930;
    background:#404040;
    overflow: auto;
}


.tabs ul {
    list-style: none;
    text-align: center;
    float:right;
    width:100px;
    line-height:50px;
}

    /*----- Tab Links -----*/
    .tab-links a {
        margin:1px 10px 10px 1px;
        display:block;
        border-radius:0px 10px 0px 10px;
        background:#DB5800;
        font-size:20px;
        font-weight:600;
        color:#DCD8CF;
        transition:all linear 0.1s;
	text-decoration:none;
	height:50px;

    }

    .tab-links a:hover {
        background:#D43F3F;
        text-decoration:none;
    }

    li.active a, li.active a:hover {
        background:#D43F3F;
	background:#008F68;
        color:#F6F6E8;
    }

    /*----- Content of Tabs -----*/
    .tab-content {
	min-height: 400px;
	margin: 0px 120px 0px 0px;
	padding: 20px;
	background:#404040;
	border: 1px solid #888;
	border-radius:10px 10px 10px 10px;
    }

    .tab {
        display:none;
    }

    .tab.active {
        display:block;
    }