body {
    margin: 0% 20% 0% 20%;
    padding: 0;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
	clear:both;
        content:'';
    }

    .tab-links li {
        margin:0px 1px;
        float:left;
        list-style:none;
    }

    .tab-links a {
        padding:20px 60px;
        display:inline-block;
        border-radius:5px 5px 0px 0px;
        background:#7FB5DA;
        font-size:16px;
        font-weight:600;
        color:#4c4c4c;
        transition:all linear 0.1s;
	text-decoration:none;
    }

    .tab-links a:hover {
        background:#a7cce5;
        text-decoration:none;
    }

    li.active a, li.active a:hover {
        background:#cee;
        color:#4c4c4c;
    }

    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:0px;
        /*box-shadow:1px 1px 1px 1px rgba(0,0,0,0.15);*/
        background:#fff;
    }

        .tab {
            display:none;
        }

        .tab.active {
            display:block;
        }