  .onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  }
  .onoffswitch-checkbox {
    display: none;
  }
  .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 15px;
  }
  .onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s
    ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
  }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0;
    line-height: 15px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing:
    border-box;
  }
  .onoffswitch-inner:before {
    content: "ON";
    padding-left: 3px;
    background-color: #2FCCFF; color: #FFFFFF;
  }
  .onoffswitch-inner:after {
    content: "";
    padding-right: 2px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
  }
  .onoffswitch-switch {
    display: block; width: 20px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 29px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in
    0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
  }